{
  "download-dir": "/downloads",
  "rpc-host-whitelist-enabled": true,
  "rpc-host-whitelist": "transmission,transmission.${domain},${hostname},${hostname}.local",
  "watch-dir": "/torrent_files",
  "rpc-whitelist": "*.*.*.*"
}
